#root,html,body{
 margin: 0;
 padding: 0;
 height: 100vh;
 box-sizing: border-box;
 font-size: 15px;
}

.app{
    height: 100%;
    margin: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.card{
    position: relative;
    border: 2px solid white;
    background:whitesmoke;
    backdrop-filter: blur(10px);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 25px;
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);
    
}

.heading{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    font-size: 30px;
    transition: all 50ms ease-in-out;
    
}

.heading i{
    padding: 0;
    margin: 0;
    transition: none;
}

.app-header{
    color: white;
    padding-bottom: 50px;
    letter-spacing: 20px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);
}

.buttons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 104px;
    border:none;
    border-radius: 3px;
    background-color: blueviolet;
    color: white;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    margin-right: -350px;
    margin-bottom: 20px;
    cursor: pointer;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    transition: all 300ms ease-in-out;
}

#author{
    position: relative;
    align-self: flex-end;
    /* right: -170px; */
    padding-right: 2rem;
    font-size: 1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 50ms ease-in-out;
}

#footer{
    color: white;
    font: 100;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    padding: 20px;
}

#footer b{
    font-size: 12px;
}


